In [1]:
cd

C:\Users\Notebook

In [2]:
cd Desktop/mllab/

C:\Users\Notebook\Desktop\mllab

In [3]:
import pandas as pd

In [35]:
data=pd.read_csv("enjoysport.csv",header=None)

In [36]:
data

       0         1         2       3      4         5            6
0    sky  air_temp  humidity    wind  water  forecast  enjoy_sport
1  sunny      warm    normal  strong   warm      same          yes
2  sunny      warm      high  strong   warm      same          yes
3  rainy      cold      high  strong   warm    change           no
4  sunny      warm      high  strong   cool    change          yes

In [37]:
data=data.iloc[1:,]

In [38]:
data

       0     1       2       3     4       5    6
1  sunny  warm  normal  strong  warm    same  yes
2  sunny  warm    high  strong  warm    same  yes
3  rainy  cold    high  strong  warm  change   no
4  sunny  warm    high  strong  cool  change  yes

In [39]:
number_of_attributes=6
hyp=['0']*number_of_attributes

In [40]:
print(hyp)

['0', '0', '0', '0', '0', '0']

In [43]:
for index,row in data.iterrows():
    if row[len(row)-1]=='yes':
        for i in range(len(row)-1):
            if hyp[i]=='0':
                hyp[i]=row[i]
            elif hyp[i]!=row[i]:
                hyp[i]='?'
            else:
                pass
        print("h-",str(index),":",hyp)
print(hyp)

h- 1 : ['sunny', 'warm', '?', 'strong', '?', '?']
h- 2 : ['sunny', 'warm', '?', 'strong', '?', '?']
h- 4 : ['sunny', 'warm', '?', 'strong', '?', '?']
['sunny', 'warm', '?', 'strong', '?', '?']